@font-face {
    font-family: "maple";
    src: url("Maplestory\ Light.ttf");
}

h1 {
    color: bisque;
}
#wow {
    font-family: "maple";
    font-size: 400px;
    color:aquamarine;
    padding: 10px;
    border: 5px solid rebeccapurple;
    margin: 20px;
}
#wtf {
    color: blueviolet;
    position: fixed;
}
div {
    position: relative;
    top: 243px;
}
.one{
    width: 542px;
    height: 3254px;
    background-color: blanchedalmond;
}
.one:hover{
    width: 42px;
    height: 34px;
    background-color: rebeccapurple
}
.tired:checked ~ .one{
    width: 42px;
    height: 34px;
    background-color: rebeccapurple
}

/* 
# id 선택자
. class 선택자
* 전체 선택자
*/